<div class="popup popup--box popup--box-md" role="dialog" aria-labelledby="popup-title" aria-modal="true">
    <div class="popup-header">
        <div class="popup-title">
            <h3 id="popup-title" class="title">Popup title (.popup--box-md)</h3>
        </div>
        <button class="btn-icon btn-icon-36 ui-popup-close" data-dismiss="popup" aria-label="닫기"><i class="icon icon-x bg-black"></i></button>
    </div>
    <div class="popup-body">
        <div class="popup-content">
            <p class="_pb-scrolltest-div" style="height: 560px;">
                _Scroll test</p>
        </div>
    </div>
    <div class="popup-footer">
        <div class="btn-group justify-center">
            <button type="button" class="btn-basic btn-basic-md btn-secondary" data-dismiss="popup"><span>Close</span></button>
            <button type="button" class="btn-basic btn-basic-md btn-primary"><span>Confirm</span></button>
        </div>
    </div>
</div>