<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<script src="../pb_inc.js"></script>
<script>include.meta();</script>
<!-- ======================== CSS / JS ======================== -->
<script>include.styles();</script>
<script>include.scripts();</script>
<!--// ======================== CSS / JS ======================== -->
<script>include.title();</script>
</head>  

<body>
<div class="_pb-guide">
	<!-- ========== 공통 헤더 ========== -->
	<script>include.header();</script>
	<!--// ========== 공통 헤더 ========== -->

	<!-- ========== 컨텐츠 영역 ========== -->
	<main class="_pb-container">
		<div class="_pb-contents">
			<div class="_pb-side-bar">
				<script>include.sidebar('Components');</script>
			</div>

			<article class="_pb-article">
				<div class="_pb-page-tit">
					<h2>Badges &amp; Chips</h2>
					<!-- <p class="_pb-page-desc">가이드 설명</p> -->
				</div>

				<section class="_pb-section">
					<h3 class="_pb-section-tit">크기, 형태</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<div class="badge-rounded badge-md badge-primary"><span>.badge-md</span></div>
						<div class="badge-rounded badge-md badge-primary-line"><span>.badge-md</span></div>
						<div class="badge-rect badge-md badge-primary"><span>.badge-rect-md</span></div>
						<div class="badge-rect badge-md badge-primary-line"><span>.badge-rect-md</span></div>
						<div class="badge-disc badge-md badge-primary"><strong>1</strong></div>
						<div class="badge-disc badge-md badge-primary-line"><strong>2</strong></div>
						<div class="badge-rect badge-md badge-primary"><strong>3</strong></div>
						<div class="badge-rect badge-md badge-primary-line"><strong>4</strong></div>
						<br>
						<div class="badge-rounded badge-sm badge-primary"><span>.badge-sm</span></div>
						<div class="badge-rounded badge-sm badge-primary-line"><span>.badge-sm</span></div>
						<div class="badge-disc badge-sm badge-primary"><strong>1</strong></div>
						<div class="badge-disc badge-sm badge-primary"><strong>2</strong></div>
						<div class="badge-rect badge-sm badge-primary"><strong>3</strong></div>
						<div class="badge-rect badge-sm badge-primary-line"><strong>4</strong></div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">색상</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<div class="badge-rounded badge-md badge-primary"><span>.badge-primary</span></div>
						<div class="badge-rounded badge-md badge-secondary"><span>.badge-secondary</span></div>
						<div class="badge-rounded badge-md badge-success"><span>.badge-success</span></div>
						<div class="badge-rect badge-md badge-point"><span>.badge-point</span></div>
						<div class="badge-rect badge-md badge-warning"><span>.badge-warning</span></div>
						<div class="badge-rect badge-md badge-danger"><span>.badge-danger</span></div>
						<br>
						<div class="badge-rounded badge-md badge-primary-line"><span>.badge-primary-line</span></div>
						<div class="badge-rounded badge-md badge-secondary-line"><span>.badge-secondary-line</span></div>
						<div class="badge-rounded badge-md badge-success-line"><span>.badge-success-line</span></div>
						<div class="badge-rect badge-md badge-point-line"><span>.badge-point-line</span></div>
						<div class="badge-rect badge-md badge-warning-line"><span>.badge-warning-line</span></div>
						<div class="badge-rect badge-md badge-danger-line"><span>.badge-danger-line</span></div>
						<br>
						<div class="badge-disc badge-primary"><strong>1</strong></div>
						<div class="badge-disc badge-secondary"><strong>2</strong></div>
						<div class="badge-disc badge-success"><strong>3</strong></div>
						<div class="badge-disc badge-point"><strong>4</strong></div>
						<div class="badge-disc badge-warning"><strong>5</strong></div>
						<div class="badge-disc badge-danger"><strong>6</strong></div>
						<div class="badge-disc badge-primary-line"><strong>7</strong></div>
						<div class="badge-disc badge-secondary-line"><strong>8</strong></div>
						<div class="badge-disc badge-success-line"><strong>9</strong></div>
						<div class="badge-disc badge-point-line"><strong>10</strong></div>
						<div class="badge-disc badge-warning-line"><strong>11</strong></div>
						<div class="badge-disc badge-danger-line"><strong>12</strong></div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">삭제 버튼 추가</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<div class="badge-rounded badge-md badge-primary">
							<span>.badge-md</span>
							<button type="button" class="btn-chip chip-disc bg-white"><i class="icon icon-x bg-primary" aria-label="Delete"></i></button>
						</div>
						<div class="badge-rounded badge-md badge-primary-line">
							<span>.badge-md</span>
							<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						</div>
						<div class="badge-rect badge-md badge-primary">
							<span>.badge-rect-md</span>
							<button type="button" class="btn-chip chip-rect"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						</div>
						<div class="badge-rect badge-md badge-primary-line">
							<span>.badge-rect-md</span>
							<button type="button" class="btn-chip chip-rect"><i class="icon icon-x bg-primary" aria-label="Delete"></i></button>
						</div>
						<br>
						<div class="badge-rounded badge-sm badge-primary">
							<span>.badge-sm</span>
							<button type="button" class="btn-chip chip-disc bg-white"><i class="icon icon-x bg-primary" aria-label="Delete"></i></button>
						</div>
						<div class="badge-rounded badge-sm badge-primary-line">
							<span>.badge-sm</span>
							<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						</div>
						<div class="badge-rect badge-sm badge-primary">
							<span>.badge-rect-md</span>
							<button type="button" class="btn-chip chip-rect"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						</div>
						<div class="badge-rect badge-sm badge-primary-line">
							<span>.badge-rect-md</span>
							<button type="button" class="btn-chip chip-rect"><i class="icon icon-x bg-primary" aria-label="Delete"></i></button>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->
			</article>
		</div>
	</main>
	<!--// ========== 컨텐츠 영역 ========== -->
</div><!--// _pb-guide -->

	<script>include.bottom();</script>

</body>
</html>
