<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<script src="../pb_inc.js"></script>
<script>include.meta();</script>
<!-- ======================== CSS / JS ======================== -->
<script>include.styles();</script>
<script>include.scripts();</script>
<!--// ======================== CSS / JS ======================== -->
<script>include.title();</script>
</head>  

<body>
<div class="_pb-guide">
	<!-- ========== 공통 헤더 ========== -->
	<script>include.header();</script>
	<!--// ========== 공통 헤더 ========== -->

	<!-- ========== 컨텐츠 영역 ========== -->
	<main class="_pb-container">
		<div class="_pb-contents">
			<div class="_pb-side-bar">
				<script>include.sidebar('Components');</script>
			</div>

			<article class="_pb-article">
				<div class="_pb-page-tit">
					<h2>Buttons</h2>
					<!-- <p class="_pb-page-desc">가이드 설명</p> -->
				</div>

				<section class="_pb-section">
					<h3 class="_pb-section-tit">크기, 형태</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-basic btn-basic-xlg btn-secondary-line"><span>.btn-basic-xlg</span></button>
						<button type="button" class="btn-basic btn-basic-xlg btn-primary"><span>.btn-basic-xlg</span></button>
						<button type="button" class="btn-rounded btn-rounded-xlg btn-secondary-line"><span>.btn-rounded-xlg</span></button>
						<button type="button" class="btn-rounded btn-rounded-xlg btn-primary"><span>.btn-rounded-xlg</span></button>
						<br>
						<button type="button" class="btn-basic btn-basic-lg btn-secondary-line"><span>.btn-basic-lg</span></button>
						<button type="button" class="btn-basic btn-basic-lg btn-primary"><span>.btn-basic-lg</span></button>
						<button type="button" class="btn-rounded btn-rounded-lg btn-secondary-line"><span>.btn-rounded-lg</span></button>
						<button type="button" class="btn-rounded btn-rounded-lg btn-primary"><span>.btn-rounded-lg</span></button>
						<br>
						<button type="button" class="btn-basic btn-basic-md btn-secondary-line"><span>.btn-basic-md</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-primary"><span>.btn-basic-md</span></button>
						<button type="button" class="btn-rounded btn-rounded-md btn-secondary-line"><span>.btn-rounded-md</span></button>
						<button type="button" class="btn-rounded btn-rounded-md btn-primary"><span>.btn-rounded-md</span></button>
						<br>
						<button type="button" class="btn-basic btn-basic-sm btn-secondary-line"><span>.btn-basic-sm</span></button>
						<button type="button" class="btn-basic btn-basic-sm btn-primary"><span>.btn-basic-sm</span></button>
						<button type="button" class="btn-rounded btn-rounded-sm btn-secondary-line"><span>.btn-rounded-sm</span></button>
						<button type="button" class="btn-rounded btn-rounded-sm btn-primary"><span>.btn-rounded-sm</span></button>
						<br>
						<button type="button" class="btn-basic btn-basic-xs btn-secondary-line"><span>.btn-basic-xs</span></button>
						<button type="button" class="btn-basic btn-basic-xs btn-primary"><span>.btn-basic-xs</span></button>
						<button type="button" class="btn-rounded btn-rounded-xs btn-secondary-line"><span>.btn-rounded-xs</span></button>
						<button type="button" class="btn-rounded btn-rounded-xs btn-primary"><span>.btn-rounded-xs</span></button>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">width: 100%</h3>
					<p class="_pb-section-desc">.btn-block 클래스 추가</p>
					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-basic btn-basic-lg btn-primary btn-block"><span>.btn-block</span></button>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">색상</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-basic btn-basic-md btn-primary"><span>.btn-primary</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-secondary"><span>.btn-secondary</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-success"><span>.btn-success</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-point"><span>.btn-point</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-warning"><span>.btn-warning</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-danger"><span>.btn-danger</span></button>
						<br />
						<button type="button" class="btn-basic btn-basic-md btn-primary-line"><span>.btn-primary-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-secondary-line"><span>.btn-secondary-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-success-line"><span>.btn-success-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-point-line"><span>.btn-point-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-warning-line"><span>.btn-warning-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-danger-line"><span>.btn-danger-line</span></button>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-basic btn-basic-md btn-primary">
							<i class="icon icon-home bg-white"></i><span>.btn-primary</span>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-secondary">
							<i class="icon icon-home bg-white"></i><span>.btn-secondary</span>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-success">
							<i class="icon icon-home bg-white"></i><span>.btn-success</span>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-point">
							<i class="icon icon-home bg-white"></i><span>.btn-point</span>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-warning">
							<i class="icon icon-home bg-white"></i><span>.btn-warning</span>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-danger">
							<i class="icon icon-home bg-white"></i><span>.btn-danger</span>
						</button>
						<br />
						<button type="button" class="btn-basic btn-basic-md btn-primary-line">
							<span>.btn-primary-line</span><i class="icon icon-check bg-primary"></i>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-secondary-line">
							<span>.btn-secondary-line</span><i class="icon icon-check bg-secondary"></i>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-success-line">
							<span>.btn-success-line</span><i class="icon icon-check bg-success"></i>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-point-line">
							<span>.btn-point-line</span><i class="icon icon-check bg-point"></i>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-warning-line">
							<span>.btn-warning-line</span><i class="icon icon-check bg-warning"></i>
						</button>
						<button type="button" class="btn-basic btn-basic-md btn-danger-line">
							<span>.btn-danger-line</span><i class="icon icon-check bg-danger"></i>
						</button>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">비활성</h3>
					<!-- <p class="_pb-section-desc">button은 disabled 속성을 넣고, a태그를 사용할 경우에는 .btn-disabled 클래스를 추가한다.</p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-basic btn-basic-md btn-primary" disabled><span>.btn-primary</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-secondary" disabled><span>.btn-secondary</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-success" disabled><span>.btn-success</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-point" disabled><span>.btn-point</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-warning" disabled><span>.btn-warning</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-danger" disabled><span>.btn-danger</span></button>
						<br>
						<button type="button" class="btn-basic btn-basic-md btn-primary-line" disabled><span>.btn-primary-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-secondary-line" disabled><span>.btn-secondary-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-success-line" disabled><span>.btn-success-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-point-line" disabled><span>.btn-point-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-warning-line" disabled><span>.btn-warning-line</span></button>
						<button type="button" class="btn-basic btn-basic-md btn-danger-line" disabled><span>.btn-danger-line</span></button>
						<br />
						<a class="btn-basic btn-basic-md btn-primary btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-secondary btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-success btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-point btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-warning btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-danger btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<br />
						<a class="btn-basic btn-basic-md btn-primary-line btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-secondary-line btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-success-line btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-point-line btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-warning-line btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<a class="btn-basic btn-basic-md btn-danger-line btn-disabled" role="button" aria-disabled="true"><span>a.btn-disabled</span></a>
						<!--// ========== Component ========== -->	
						<script></script>
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">Icon only</h3>
					<!-- <p class="_pb-comp-guide"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-icon btn-icon-disc btn-icon-32 border-gray-500"><i class="icon icon-home bg-gray-500" aria-label="Home"></i></button>
						<button type="button" class="btn-icon btn-icon-rounded btn-icon-32 border-gray-500"><i class="icon icon-home bg-gray-500" aria-label="Home"></i></button>
						<button type="button" class="btn-icon btn-icon-rect btn-icon-32 border-gray-500"><i class="icon icon-home bg-gray-500" aria-label="Home"></i></button>
						<button type="button" class="btn-icon btn-icon-disc btn-icon-32 bg-primary"><i class="icon icon-home bg-white" aria-label="Home"></i></button>
						<button type="button" class="btn-icon btn-icon-rounded btn-icon-32 bg-primary"><i class="icon icon-home bg-white" aria-label="Home"></i></button>
						<button type="button" class="btn-icon btn-icon-rect btn-icon-32 bg-primary"><i class="icon icon-home bg-white" aria-label="Home"></i></button>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->

					<p class="_pb-section-desc">bullet-chip과 동일</p>
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-x-bold bg-primary" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-x bg-primary" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-plus bg-primary" aria-label="Plus"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-minus bg-primary" aria-label="Minus"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-chevron-down bg-primary" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-caret-down bg-primary" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-check bg-primary" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-excla bg-primary" aria-label="!"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-question bg-primary" aria-label="?"></i></button>
						<button type="button" class="btn-chip chip-disc border-primary"><i class="icon icon-info bg-primary" aria-label="infomation"></i></button>
						<br>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-x-bold bg-gray-500" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-x bg-gray-500" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-plus bg-gray-500" aria-label="Plus"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-minus bg-gray-500" aria-label="Minus"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-chevron-down bg-gray-500" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-caret-down bg-gray-500" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-check bg-gray-500" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-excla bg-gray-500" aria-label="!"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-question bg-gray-500" aria-label="?"></i></button>
						<button type="button" class="btn-chip chip-rounded border-gray-500"><i class="icon icon-info bg-gray-500" aria-label="infomation"></i></button>
						<br>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-x-bold bg-point" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-x bg-point" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-plus bg-point" aria-label="Plus"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-minus bg-point" aria-label="Minus"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-chevron-down bg-point" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-caret-down bg-point" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-check bg-point" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-excla bg-point" aria-label="!"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-question bg-point" aria-label="?"></i></button>
						<button type="button" class="btn-chip chip-rect border-point"><i class="icon icon-info bg-point" aria-label="infomation"></i></button>
						<br>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-x-bold bg-white" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-plus bg-white" aria-label="Plus"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-minus bg-white" aria-label="Minus"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-chevron-down bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-caret-down bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-check bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-excla bg-white" aria-label="!"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-question bg-white" aria-label="?"></i></button>
						<button type="button" class="btn-chip chip-disc bg-primary"><i class="icon icon-info bg-white" aria-label="infomation"></i></button>
						<br>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-x-bold bg-white" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-plus bg-white" aria-label="Plus"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-minus bg-white" aria-label="Minus"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-chevron-down bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-caret-down bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-check bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-excla bg-white" aria-label="!"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-question bg-white" aria-label="?"></i></button>
						<button type="button" class="btn-chip chip-rounded bg-secondary"><i class="icon icon-info bg-white" aria-label="infomation"></i></button>
						<br>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-x-bold bg-white" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-x bg-white" aria-label="Delete"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-plus bg-white" aria-label="Plus"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-minus bg-white" aria-label="Minus"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-chevron-down bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-caret-down bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-check bg-white" aria-label="Arrow"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-excla bg-white" aria-label="!"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-question bg-white" aria-label="?"></i></button>
						<button type="button" class="btn-chip chip-rect bg-point"><i class="icon icon-info bg-white" aria-label="infomation"></i></button>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">Text only</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--inline">
						<!-- ========== Component ========== -->
						<button type="button" class="btn-text btn-text-md text-emphasis">
							<i class="icon icon-check"></i><span>.text-emphasis</span>
						</button>
						<button type="button" class="btn-text btn-text-md text-default">
							<i class="icon icon-check"></i><span>.text-default </span>
						</button>
						<button type="button" class="btn-text btn-text-md text-secondary">
							<i class="icon icon-check"></i><span>.text-secondary</span>
						</button>
						<button type="button" class="btn-text btn-text-md text-primary">
							<i class="icon icon-check"></i><span>.text-primary</span>
						</button>
						<button type="button" class="btn-text btn-text-md text-success">
							<i class="icon icon-check"></i><span>.text-success</span>
						</button>
						<button type="button" class="btn-text btn-text-md text-point">
							<i class="icon icon-check"></i><span>.text-point</span>
						</button>
						<button type="button" class="btn-text btn-text-md text-warning">
							<i class="icon icon-check"></i><span>.text-warning</span>
						</button>
						<button type="button" class="btn-text btn-text-md text-danger">
							<i class="icon icon-check"></i><span>.text-danger</span>
						</button>
						<br>
						<button type="button" class="btn-text btn-text-sm text-emphasis">
							<span>.text-emphasis</span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-default">
							<span>.text-default </span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-secondary">
							<span>.text-secondary</span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-primary">
							<span>.text-primary</span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-success">
							<span>.text-success</span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-point">
							<span>.text-point</span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-warning">
							<span>.text-warning</span><i class="icon icon-chevron-right"></i>
						</button>
						<button type="button" class="btn-text btn-text-sm text-danger">
							<span>.text-danger</span><i class="icon icon-chevron-right"></i>
						</button>
						<br>
						<!--// ========== Component ========== -->	
						
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">버튼 그룹</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<div class="btn-group justify-start">
							<button type="button" class="btn-basic btn-basic-md btn-secondary"><span>Button</span></button>
							<button type="button" class="btn-basic btn-basic-md btn-primary"><span>Button</span></button>
						</div>
						<br>
						<div class="btn-group justify-center">
							<button type="button" class="btn-basic btn-basic-md btn-secondary-line"><span>Button</span></button>
							<button type="button" class="btn-basic btn-basic-md btn-primary-line"><span>Button</span></button>
						</div>
						<br>
						<div class="btn-group justify-end">
							<button type="button" class="btn-basic btn-basic-md btn-secondary"><span>Button</span></button>
							<button type="button" class="btn-basic btn-basic-md btn-primary"><span>Button</span></button>
						</div>
						<br>
						<div class="btn-group justify-between">
							<button type="button" class="btn-basic btn-basic-md btn-secondary-line"><span>Button</span></button>
							<button type="button" class="btn-basic btn-basic-md btn-primary-line"><span>Button</span></button>
						</div>
						<!--// ========== Component ========== -->	
						<script></script>
					</div><!--// _pb-component -->

					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<div class="btn-group-flex">
							<button type="button" class="btn-basic btn-basic-md btn-secondary"><span>Button</span></button>
							<button type="button" class="btn-basic btn-basic-md btn-primary"><span>Button</span></button>
						</div>
						<br>
						<div class="btn-group-flex">
							<button type="button" class="btn-basic btn-basic-md btn-secondary-line col-4"><span>Button</span></button>
							<button type="button" class="btn-basic btn-basic-md btn-primary-line col-8"><span>Button</span></button>
						</div>
						<br>
						<div class="btn-group-flex">
							<button type="button" class="btn-basic btn-basic-md btn-primary"><span>Button</span></button>
							<a href="#" class="btn-icon btn-icon-rounded btn-icon-40 border-gray-500" role="button"><i class="icon icon-home bg-gray-500" aria-label="Home"></i></a>
						</div>
						<br>
						<div class="btn-group-flex">
							<button type="button" class="btn-basic btn-basic-md btn-primary-line col-7"><span>Button</span></button>
							<div class="btn-group-add col-5">
								<div class="bullet-list bullet-list--icon">
									<span class="bullet-chip chip-rounded bg-secondary"><i class="icon icon-info bg-white" aria-label="infomation"></i></span>
									<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
								</div>
							</div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->
			</article>
		</div>
	</main>
	<!--// ========== 컨텐츠 영역 ========== -->
</div><!--// _pb-guide -->

	<script>include.bottom();</script>

</body>
</html>
