<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<script src="../pb_inc.js"></script>
<script>include.meta();</script>
<!-- ======================== CSS / JS ======================== -->
<script>include.styles();</script>
<script>include.scripts();</script>
<!--// ======================== CSS / JS ======================== -->
<script>include.title();</script>
</head>  

<body>
<div class="_pb-guide">
	<!-- ========== 공통 헤더 ========== -->
	<script>include.header();</script>
	<!--// ========== 공통 헤더 ========== -->

	<!-- ========== 컨텐츠 영역 ========== -->
	<main class="_pb-container">
		<div class="_pb-contents">
			<div class="_pb-side-bar">
				<script>include.sidebar('Components');</script>
			</div>

			<article class="_pb-article">
				<div class="_pb-page-tit">
					<h2>Color</h2>
					<!-- <p class="_pb-page-desc">가이드 설명</p> -->
				</div>

				<section class="_pb-section">
					<h3 class="_pb-section-tit">테마 색상</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-primary"></div>
							<div class="_pb-boxin-txt"><span class="color-primary">.color-primary</span><span>.bg-primary</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-secondary"></div>
							<div class="_pb-boxin-txt"><span class="color-secondary">.color-secondary</span><span>.bg-secondary</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-success"></div>
							<div class="_pb-boxin-txt"><span class="color-success">.color-success</span><span>.bg-success</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-point"></div>
							<div class="_pb-boxin-txt"><span class="color-point">.color-point</span><span>.bg-point</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-warning"></div>
							<div class="_pb-boxin-txt"><span class="color-warning">.color-warning</span><span>.bg-warning</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-danger"></div>
							<div class="_pb-boxin-txt"><span class="color-danger">.color-danger</span><span>.bg-danger</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-primary-light"></div>
							<div class="_pb-boxin-txt"><span class="color-primary-light">.color-primary-light</span><span>.bg-primary-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-secondary-light"></div>
							<div class="_pb-boxin-txt"><span class="color-secondary-light">.color-secondary-light</span><span>.bg-secondary-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-success-light"></div>
							<div class="_pb-boxin-txt"><span class="color-success-light">.color-success-light</span><span>.bg-success-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-point-light"></div>
							<div class="_pb-boxin-txt"><span class="color-point-light">.color-point-light</span><span>.bg-point-light</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-warning-light"></div>
							<div class="_pb-boxin-txt"><span class="color-warning-light">.color-warning-light</span><span>.bg-warning-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-danger-light"></div>
							<div class="_pb-boxin-txt"><span class="color-danger-light">.color-danger-light</span><span>.bg-danger-light</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-primary-dark"></div>
							<div class="_pb-boxin-txt"><span class="color-primary-dark">.color-primary-dark</span><span>.bg-primary-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-secondary-dark"></div>
							<div class="_pb-boxin-txt"><span class="color-secondary-dark">.color-secondary-dark</span><span>.bg-secondary-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-success-dark"></div>
							<div class="_pb-boxin-txt"><span class="color-success-dark">.color-success-dark</span><span>.bg-success-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-point-dark"></div>
							<div class="_pb-boxin-txt"><span class="color-point-dark">.color-point-dark</span><span>.bg-point-dark</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-warning-dark"></div>
							<div class="_pb-boxin-txt"><span class="color-warning-dark">.color-warning-dark</span><span>.bg-warning-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-danger-dark"></div>
							<div class="_pb-boxin-txt"><span class="color-danger-dark">.color-danger-dark</span><span>.bg-danger-dark</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">텍스트 (Semantic color)</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-black"></div>
							<p class="text-emphasis text-sm">.text-emphasis : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
						<div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-gray-700"></div>
							<p class="text-default text-sm">.text-default : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
                        <div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-gray-600"></div>
							<p class="text-secondary text-sm">.text-secondary : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
                        <div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-gray-500"></div>
							<p class="text-inactive text-sm">.text-inactive : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
                        <div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-primary"></div>
							<p class="text-primary text-sm">.text-primary : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
                        <div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-success"></div>
							<p class="text-success text-sm">.text-success : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
                        <div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-point"></div>
							<p class="text-point text-sm">.text-point : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
						<div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-warning"></div>
							<p class="text-warning text-sm">.text-warning : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
						<div class="_pb-label">
							<div class="_pb-label-inner _pb-js-colorpick bg-danger"></div>
							<p class="text-danger text-sm">.text-danger : Lorem ipsum dolor sit amet consectetur.</p>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

                <section class="_pb-section">
					<h3 class="_pb-section-tit">Grayscale</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-900"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-900</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-800"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-800</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-700"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-700</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-600"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-600</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-500"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-500</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-400"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-400</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-300"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-300</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-200"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-200</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-gray-100"></div>
							<div class="_pb-boxin-txt"><span>.bg-gray-100</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-black"></div>
							<div class="_pb-boxin-txt"><span>.bg-black</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span _pb-js-colorpick bg-white"></div>
							<div class="_pb-boxin-txt"><span>.bg-white</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">Gradient</h3>
					<div class="_pb-section-tips">
						<button type="button" class="_pb-tips-btn"><i class="icon-css-info-bold"></i></button>
						<ul class="_pb-info-list">
							<li class="_pb-info-item">https://cssgradient.io/</li>
							<li class="_pb-info-item">https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient</li>
						</ul>
					</div>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-primary-light"></div>
							<div class="_pb-boxin-txt"><span>.grd-primary-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-secondary-light"></div>
							<div class="_pb-boxin-txt"><span>.grd-secondary-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-success-light"></div>
							<div class="_pb-boxin-txt"><span>.grd-success-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-point-light"></div>
							<div class="_pb-boxin-txt"><span>.grd-point-light</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-warning-light"></div>
							<div class="_pb-boxin-txt"><span>.grd-warning-light</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-danger-light"></div>
							<div class="_pb-boxin-txt"><span>.grd-danger-light</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-primary"></div>
							<div class="_pb-boxin-txt"><span>.grd-primary</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-secondary"></div>
							<div class="_pb-boxin-txt"><span>.grd-secondary</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-success"></div>
							<div class="_pb-boxin-txt"><span>.grd-success</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-point"></div>
							<div class="_pb-boxin-txt"><span>.grd-point</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-warning"></div>
							<div class="_pb-boxin-txt"><span>.grd-warning</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-danger"></div>
							<div class="_pb-boxin-txt"><span>.grd-danger</span></div>
						</div>
						<!--// ========== Component ========== -->
					</div><!--// _pb-component -->
					<div class="_pb-component _pb-component--flex">
						<!-- ========== Component ========== -->
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-primary-dark"></div>
							<div class="_pb-boxin-txt"><span>.grd-primary-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-secondary-dark"></div>
							<div class="_pb-boxin-txt"><span>.grd-secondary-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-success-dark"></div>
							<div class="_pb-boxin-txt"><span>.grd-success-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-point-dark"></div>
							<div class="_pb-boxin-txt"><span>.grd-point-dark</span></div>
						</div>
                        <div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-warning-dark"></div>
							<div class="_pb-boxin-txt"><span>.grd-warning-dark</span></div>
						</div>
						<div class="_pb-box-auto--sm-2">
							<div class="_pb-boxin-span grd-danger-dark"></div>
							<div class="_pb-boxin-txt"><span>.grd-danger-dark</span></div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->

					
					<div class="_pb-component-tit-box">
						<h4 class="_pb-component-tit">Box-shadow</h4>
						<div class="_pb-section-tips">
							<button type="button" class="_pb-tips-btn"><i class="icon-css-info-bold"></i></button>
							<ul class="_pb-info-list">
								<li class="_pb-info-item">https://www.cssmatic.com/box-shadow</li>
							</ul>
						</div>
					</div>
					<div class="_pb-component">
						<!-- ========== Component ========== -->
						// 나중에..
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->
			</article>
		</div>
	</main>
	<!--// ========== 컨텐츠 영역 ========== -->
</div><!--// _pb-guide -->

<script>include.bottom();</script>

<script>
	colorPick ();

	function colorPick () {
		const elems = document.querySelectorAll('._pb-js-colorpick');

		elems.forEach(item => {
			const compStyles = window.getComputedStyle(item);
			const compRGB = compStyles.getPropertyValue('background-color')
			// const rbgSplit = compRGB.replace( /[^%,.\d]/g, '').split(',') // \d는 애매하고 예외 발생 가능
			// ↓↓ 숫자를 좀더 정확힌 표현하는 안전한 정규식. "숫자, 콤마, 퍼센트, 마침표"만 남기고 모두 제거함.
			const rgbSplit = compRGB.replace(/[^0-9,.]/g, '').split(','); 

			// RGB or RGBA 처리
			const r = Number(rgbSplit[0]);
			const g = Number(rgbSplit[1]);
			const b = Number(rgbSplit[2]);

			// item.innerHTML = `${rgbToHex(rbgSplit[0],rbgSplit[1],rbgSplit[2])}`
			item.innerHTML = rgbToHex(r, g, b);
		})

		function compToHex (c) {
			const hex = c.toString(16);
			return hex.length == 1 ? '0' + hex : hex;
		}

		function rgbToHex(r, g, b) {
			return '#' + compToHex(Number(r)) + compToHex(Number(g)) + compToHex(Number(b));
		}
	}
</script>
</body>
</html>
