<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<script src="../pb_inc.js"></script>
<script>include.meta();</script>
<!-- ======================== CSS / JS ======================== -->
<script>include.styles();</script>
<script>include.scripts();</script>
<!--// ======================== CSS / JS ======================== -->
<script>include.title();</script>
</head>  

<body>
<div class="_pb-guide">
	<!-- ========== 공통 헤더 ========== -->
	<script>include.header();</script>
	<!--// ========== 공통 헤더 ========== -->

	<!-- ========== 컨텐츠 영역 ========== -->
	<main class="_pb-container">
		<div class="_pb-contents">
			<div class="_pb-side-bar">
				<script>include.sidebar('Components');</script>
			</div>

			<article class="_pb-article">
				<div class="_pb-page-tit">
					<h2>Images</h2>
					<!-- <p class="_pb-page-desc">가이드 설명</p> -->
				</div>

				<section class="_pb-section">
					<!-- <h3 class="_pb-section-tit">Component title</h3> -->
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<ul class="flexbox-wrap flexbox-wrap-span3 gutter-20">
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_800x600_4to3.png" class="img object-contain" alt="Sample image">
									</figure>
									<p> .object-contain</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_800x600_4to3.png" class="img object-cover" alt="Sample image">
									</figure>
									<p>.object-cover</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_800x600_4to3.png" class="img object-fill" alt="Sample image">
									</figure>
									<p>.object-fill</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_600x800_3to4.png" class="img object-contain" alt="Sample image">
									</figure>
									<p> .object-contain</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_600x800_3to4.png" class="img object-cover" alt="Sample image">
									</figure>
									<p>.object-cover</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_600x800_3to4.png" class="img object-fill" alt="Sample image">
									</figure>
									<p>.object-fill</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_1080x566_1.91to1.png" class="img object-contain" alt="Sample image">
									</figure>
									<p> .object-contain</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_1080x566_1.91to1.png" class="img object-cover" alt="Sample image">
									</figure>
									<p>.object-cover</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_1080x566_1.91to1.png" class="img object-fill" alt="Sample image">
									</figure>
									<p>.object-fill</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_800x1000_4to5.png" class="img object-contain" alt="Sample image">
									</figure>
									<p> .object-contain</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_800x1000_4to5.png" class="img object-cover" alt="Sample image">
									</figure>
									<p>.object-cover</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_800x1000_4to5.png" class="img object-fill" alt="Sample image">
									</figure>
									<p>.object-fill</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_1280x720_16to9.png" class="img object-contain" alt="Sample image">
									</figure>
									<p> .object-contain</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_1280x720_16to9.png" class="img object-cover" alt="Sample image">
									</figure>
									<p>.object-cover</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_1280x720_16to9.png" class="img object-fill" alt="Sample image">
									</figure>
									<p>.object-fill</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_600x600.png" class="img object-contain" alt="Sample image">
									</figure>
									<p> .object-contain</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_600x600.png" class="img object-cover" alt="Sample image">
									</figure>
									<p>.object-cover</p>
								</div>
							</li>
							<li class="col">
								<div class="border-gray-300">
									<figure class="square-img">
										<img src="../../assets/images/sample_600x600.png" class="img object-fill" alt="Sample image">
									</figure>
									<p>.object-fill</p>
								</div>
							</li>
						</ul>
						<!--// ========== Component ========== -->	
						<script></script>
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->
			</article>
		</div>
	</main>
	<!--// ========== 컨텐츠 영역 ========== -->
</div><!--// _pb-guide -->

	<script>include.bottom();</script>

</body>
</html>
