<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<script src="../pb_inc.js"></script>
<script>include.meta();</script>
<!-- ======================== CSS / JS ======================== -->
<script>include.styles();</script>
<script>include.scripts();</script>
<!--// ======================== CSS / JS ======================== -->
<script>include.title();</script>
</head>  

<body>
<div class="_pb-guide">
	<!-- ========== 공통 헤더 ========== -->
	<script>include.header();</script>
	<!--// ========== 공통 헤더 ========== -->

	<!-- ========== 컨텐츠 영역 ========== -->
	<main class="_pb-container">
		<div class="_pb-contents">
			<div class="_pb-side-bar">
				<script>include.sidebar('Components');</script>
			</div>

			<article class="_pb-article">
				<div class="_pb-page-tit">
					<h2>Stepper</h2>
					<!-- <p class="_pb-page-desc">가이드 설명</p> -->
				</div>

				<section class="_pb-section">
					<h3 class="_pb-section-tit">stepperNav</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<div class="stepper-tab" data-js-behavior="stepperNav">
							<nav class="tab-nav tab-nav--fill">
								<ul class="tab-list" role="tablist">
									<li class="stepper-item ui-active" role="presentation"><span class="tab-handler">Tab 1</span></li>
									<li class="stepper-item" role="presentation"><span class="tab-handler">Tab 2</span></li>
									<li class="stepper-item" role="presentation"><span class="tab-handler">Tab 3</span></li>
								</ul>
							</nav>
							<div class="tab-contents">
								<div id="tabpanel01-01" class="tab-panel ui-active" role="tabpanel" aria-labelledby="tab01-01" tabindex="0">
									<div class="_pb-temp-box1">Content 1 (myNavUI)</div>
								</div>
								<div id="tabpanel01-02" class="tab-panel" role="tabpanel" aria-labelledby="tab01-02" tabindex="0">
									<div class="_pb-temp-box2">Content 2 (myNavUI)</div>
								</div>
								<div id="tabpanel01-03" class="tab-panel" role="tabpanel" aria-labelledby="tab01-03" tabindex="0">
									<div class="_pb-temp-box1">Content 3 (myNavUI)</div>
								</div>
							</div>
							<div class="stepper-controls-bottom">
								<div class="btn-group justify-between">
									<button type="button" class="btn-basic btn-basic-md btn-primary-line stepper-handler" data-stepper-control="prev" disabled=""><span>Prev</span></button>
									<button type="button" class="btn-basic btn-basic-md btn-primary-line stepper-handler" data-stepper-control="next"><span>Next</span></button>
								</div>
							</div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->

					<hr>

					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<div class="stepper-map" data-js-behavior="stepperNav">
							<div class="stepper-content scrollable">
								<div class="flexbox-wrap gap-10">
									<div class="col col-2"><div class="_pb-temp-box1">.col</div></div>
									<div class="col col-2 stepper-item ui-active"><div class="_pb-temp-box2">.stepper-item</div></div>
									<div class="col col-3 stepper-item"><div class="_pb-temp-box1">.stepper-item</div></div>
									<div class="col col-2"><div class="_pb-temp-box2">.col</div></div>
									<div class="col col-1"><div class="_pb-temp-box1">.col</div></div>
									<div class="col col-2 stepper-item"><div class="_pb-temp-box1">.stepper-item</div></div>
									<div class="col col-4 stepper-item"><div class="_pb-temp-box2">.stepper-item</div></div>
									<div class="col col-3"><div class="_pb-temp-box1">.col</div></div>
								</div>
								<div class="flexbox-wrap gap-10 mt-10">
									<div class="col col-5 stepper-item"><div class="_pb-temp-box2">.stepper-item</div></div>
									<div class="col col-3"><div class="_pb-temp-box1">.col</div></div>
									<div class="col col-2 stepper-item"><div class="_pb-temp-box2">.stepper-item</div></div>
									<div class="col col-3"><div class="_pb-temp-box2">.col</div></div>
									<div class="col col-4 stepper-item"><div class="_pb-temp-box2">.stepper-item</div></div>
									<div class="col col-2"><div class="_pb-temp-box1">.col</div></div>
								</div>
							</div>
							<div class="stepper-controls-bottom">
								<div class="btn-group justify-center">
									<button type="button" class="btn-basic btn-basic-md btn-primary-line stepper-handler" data-stepper-control="start" disabled><span>Start</span></button>
									<button type="button" class="btn-basic btn-basic-md btn-primary stepper-handler" data-stepper-control="prev" disabled><span>Prev</span></button>
									<button type="button" class="btn-basic btn-basic-md btn-primary stepper-handler" data-stepper-control="next"><span>Next</span></button>
									<button type="button" class="btn-basic btn-basic-md btn-primary-line stepper-handler" data-stepper-control="last"><span>Last</span></button>
								</div>
								<div class="stepper-status"><span class="current">1</span>/7</div>
							</div>
						</div>
						<!--// ========== Component ========== -->	
					</div><!--// _pb-component -->
					<script>
						const stepperNav = document.querySelectorAll('[data-js-behavior="stepperNav"]');

						stepperNav.forEach((item) => {
							myDisplayUI.stepperNav(item);
						})
					</script>
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">stepperFlow</h3>
					<!-- <p class="_pb-section-desc"></p> -->

					<div class="_pb-component">
						<!-- ========== Component ========== -->
						<div class="stepper-map" data-js-behavior="stepperFlow">
							<div class="stepper-content scrollable">
								<div class="flexbox-wrap gap-10">
									<div class="col col-2 stepper-item ui-active">
										<div class="_pb-temp-box1">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-2"><div class="_pb-temp-box2">.col</div></div>
									<div class="col col-3 stepper-item">
										<div class="_pb-temp-box1">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-2 stepper-item">
										<div class="_pb-temp-box2">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-1"><div class="_pb-temp-box1">.col</div></div>
									<div class="col col-2 stepper-item">
										<div class="_pb-temp-box1">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-4 stepper-item">
										<div class="_pb-temp-box2">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-3"><div class="_pb-temp-box1">.col</div></div>
								</div>
								<div class="flexbox-wrap gap-10 mt-10">
									<div class="col col-5 stepper-item">
										<div class="_pb-temp-box2">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-3"><div class="_pb-temp-box1">.col</div></div>
									<div class="col col-2 stepper-item">
										<div class="_pb-temp-box1">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-3"><div class="_pb-temp-box2">.col</div></div>
									<div class="col col-4 stepper-item">
										<div class="_pb-temp-box1">
											.stepper-item
											<div class="btn-group justify-center">
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="prev">
													<i class="icon icon-chevron-left bg-gray-600" aria-label="left"></i>
												</button>
												<button type="button" class="btn-icon btn-icon-32 btn-icon-rect stepper-handler" data-stepper-control="next">
													<i class="icon icon-chevron-right bg-gray-600" aria-label="right"></i>
												</button>
											</div>
										</div>
									</div>
									<div class="col col-2"><div class="_pb-temp-box1">.col</div></div>
								</div>
							</div>
							<div class="stepper-controls-bottom">
								<div class="stepper-status"><span class="current">1</span>/8</div>
							</div>
						</div>
						<!--// ========== Component ========== -->	
						<script>
							const stepperFlow = document.querySelector('[data-js-behavior="stepperFlow"]')
							const stepperFlowItems = stepperFlow.querySelectorAll('.stepper-item')
							let currentTarget = 0;
							
							myDisplayUI.stepperSetting(stepperFlowItems, 'flow');

							stepperFlow.addEventListener('click', function (e) {
								myDisplayUI.stepperFlow(e, stepperFlow); 
							})
						</script>
					</div><!--// _pb-component -->
				</section><!--// _pb-section  -->
			</article>
		</div>
	</main>
	<!--// ========== 컨텐츠 영역 ========== -->
</div><!--// _pb-guide -->

	<script>include.bottom();</script>

</body>
</html>
