<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
<meta charset="utf-8">
<script src="../pb_inc.js"></script>
<script>include.meta();</script>
<!-- ======================== CSS / JS ======================== -->
<script>include.styles();</script>
<script>include.scripts();</script>
<!--// ======================== CSS / JS ======================== -->
<script>include.title();</script>
</head>  

<body>
<div class="_pb-guide">
	<!-- ========== 공통 헤더 ========== -->
	<script>include.header();</script>
	<!--// ========== 공통 헤더 ========== -->

	<!-- ========== 컨텐츠 영역 ========== -->
	<main class="_pb-container">
		<div class="_pb-contents">
			<div class="_pb-side-bar">
				<script>include.sidebar('Layout');</script>
			</div>

			<article class="_pb-article">
				<div class="_pb-page-tit">
					<h2>Layout</h2>
					<!-- <p class="_pb-page-desc">가이드 설명</p> -->
				</div>

				<section class="_pb-section">
					<h3 class="_pb-section-tit">Basic</h3>
					<!-- <p class="_pb-section-desc">설명</p> -->
					<div class="_pb-board">
                        <table>
                            <caption>목록</caption>
                            <colgroup>
                                <col style="width:200px">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>--</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</section><!--// _pb-section  -->

				<section class="_pb-section">
					<h3 class="_pb-section-tit">Scrollspy</h3>
					<!-- <p class="_pb-section-desc">설명</p> -->
					<div class="_pb-board">
                        <table>
                            <caption>목록</caption>
                            <colgroup>
                                <col style="width:240px">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">스크롤에 따른 페이지 활성화</th>
                                    <td>https://codepen.io/kimyangsun/pen/vYEqWee</td>
                                </tr>
                                <tr>
                                    <th scope="row">스크롤을 감지하여 사이트의 헤더를 보이거나 숨기기</th>
                                    <td>https://webdir.tistory.com/481</td>
                                </tr>
                                <tr>
                                    <th scope="row">스크롤시 타이틀 fixed, 타이틀 변화</th>
                                    <td>매쓰피드 작업했던거</td>
                                </tr>
                                <tr>
                                    <th scope="row">패럴렉스 등등등</th>
                                    <td>아무튼 스크롤로 할 수 있는 것들..</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</section><!--// _pb-section  -->

                <section class="_pb-section">
					<h3 class="_pb-section-tit">Responsive</h3>
					<!-- <p class="_pb-section-desc">설명</p> -->
					<div class="_pb-board">
                        <table>
                            <caption>목록</caption>
                            <colgroup>
                                <col style="width:200px">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>--</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>--</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</section><!--// _pb-section  -->

                <section class="_pb-section">
					<h3 class="_pb-component-tit">Related</h3>
					<!-- <p class="_pb-section-desc"></p> -->
					<div class="_pb-board _pb-board-small">
                        <table>
                            <caption>목록</caption>
                            <colgroup>
                                <col span="3">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">CodeMyUI</th>
									<td>다양한 UI 애니메이션 예시를 제공</td>
                                    <td>
										<a href="https://codemyui.com/" class="btn-text btn-text-sm text-primary" target="_blank" aria-haspopup="true">
											<strong>관련 사이트</strong>
											<i class="icon icon-chevron-right"></i>
										</a>
									</td>
                                </tr>
                                <tr>
                                    <th scope="row">Awwwards</th>
									<td>웹사이트 디자인 콜렉션</td>
                                    <td>
										<a href="https://www.awwwards.com/inspiration_search/" class="btn-text btn-text-sm text-primary" target="_blank" aria-haspopup="true">
											<strong>관련 사이트</strong>
											<i class="icon icon-chevron-right"></i>
										</a>
									</td>
                                </tr>
								<tr>
                                    <th scope="row">TutsPlus</th>
									<td>웹사이트 디자인 콜렉션</td>
                                    <td>
										<a href="https://webdesign.tutsplus.com/" class="btn-text btn-text-sm text-primary" target="_blank" aria-haspopup="true">
											<strong>관련 사이트</strong>
											<i class="icon icon-chevron-right"></i>
										</a>
									</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</section><!--// _pb-section  -->
			</article>
		</div>
	</main>
	<!--// ========== 컨텐츠 영역 ========== -->
</div><!--// _pb-guide -->

<script>include.bottom();</script>

</body>
</html>
